body {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin: 0;
  background-color: rgb(25, 25, 65);
  color: rgba(127, 127, 148, 0.425);
  }
  
/* Top NavBar Start */
.TNavBar {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

}
.TNavBarUl {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}
.TNavBarLi {
 float: left;
}

.TNavBarA {
  display: block;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.TNavBarA :hover:not(.active) {
  background-color: azure;
}
.active {
  background-color: #04AA6D;
}
/* Top NavBar End */



/* 
  
  h1 {
    box-shadow: salmon;
    text-shadow: 4cm;
    scrollbar-darkshadow-color: burlywood;
    text-align: center;
    background-color: black;
    color: white;
  }
  
  div {
    background-color: blue;
    color: white;
  }

  p {
    text-align: center;
    padding-top: 24px;
    font-size: 24px;
  }

  #s {
    font-size: 32px; 

  }
  #ssr {
    color: snow;
  }
  li {
   color: antiquewhite;
  size: 12px;
  }
  ol {
    size: 18px;
  }
  .PodNaslov {
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
  }
  table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px 0;
  }
  th {
    border: 1px;
    padding: 8px;
    text-align: left;
  }
  td {
    border: 1px;
    padding: 8px;
    text-align: left;
  }
  caption {
font-weight: bold;
margin-bottom: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column {
    float: left;
   width: 33.33%;
   padding: 5px;  
  }
  .SpecialImage {
    height: 350px;
    width: 200px;
  }
  .body {
    background-color:rgba(0, 0, 0, 0.75);
  }
 */
 
 /* Bottom NavBar Start */
.BNavBar {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.BNavBarUl {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}
.BNavBarLi {
 float: left;
}

.BNavBarA {
  display: block;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.BNavBarA :hover:not(.active) {
  background-color: azure;
}
.active {
  background-color: #04AA6D;
}
/* Bottom NavBar End */